<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"  name="C:/Users/Acer/Documents/GitHub1/Selenium4Grid">

                <classes>
                    <class name="One"/>
                    <class name="Two"/>
                    <class name="Three"/>
             <!--       <class name="Four"/>-->
                </classes>

    </test>
</suite>